html,body,h1,h2,h3,h4,h5,h6,p,div,ul,ol,dl,li,dt,dd,header,main,footer,nav{
  margin:0;
  padding:0;
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

$header-height:100px;
$footer-height:100px;
@mixin content{
  width:90%;
  background-color:#ffff99;
}
body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;
  header {
    text-align:center;
    background-color: #98D5ED;
    img{
      max-width:800px;
      width:100%;
    }
  }
  main{
    div#content{
      width:90%;
      max-width:1070px;
      margin:0 auto 0 auto;
      padding:1em 0 1em 0;
      div#series_list,div#software_list{
        button{
          margin:0 1em 1em 0;
          min-width:10em;
        }
      }
      div#series_list{
        /* ボタンON時 */
        button.hover{
          background-color:#2579a9;
          border-color:#1f648b;
        }
      }
      div#software_list{
        /* ボタンON時 */
        button.hover{
          background-color:#20895e;
          border-color:#196c4b;
        }
      }
      table#software_content_list{
        margin-top:10px;
        border:1px solid #000000;
        border-collapse: collapse;
        thead tr th{
          font-size:2em;
          background-color: #eeeeee;
        }
        tbody tr th,tr td{
          border:1px solid #000000;
          padding:5px;
        }
        tbody#software_hardware{
          background-color:#ffffee;
          tr th{
            background-color:#ffff99;
          }
        }
        tbody#software_book{
          background-color:#ffeeff;
          tr th{
            background-color:#ff99ff;
          }
        }
        tbody#software_soundware{
          background-color:#eeffff;
          tr th{
            background-color:#99ffff;
          }
        }
      }
    }
    div#admin{
      width:90%;
      max-width:1070px;
      margin:0 auto 0 auto;
      padding:1em 0 1em 0;
      div#button_area{
        text-align:center;
        button{
          min-width:6em;
        }
      }
      div.edit_area{
        margin-top:20px;
        table{
          margin:0 auto 0 auto;
          border-collapse: separate;
          border-spacing: 10px;
          tr td.sequence input{
            width:6em;
          }
        }
        table#software,table#software_hardware,table#software_book,table#software_soundware{
          caption{
            text-align:center;
            font-size:2em;
            button{
              margin-left:20px;
            }
          }
          tbody tr{
            td.item_code{
              input{
                width:10em;
              }
            }
            td.price{
              input{
                width:5em;
              }
            }
            td.release_date{
              input{
                width:12em;
              }
            }
            td.remark{
              input{
                width:16em;
              }
            }
          }
        }
      }
    }
  }
  footer{
    height:$footer-height;
    margin-top: auto;
    background-color: #98D5ED;
  }
}


/* スタイル用 */
.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
/*
.content {
  text-align: center;
}
.title {
  font-size: 84px;
}
*/
.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.btn-small{
  padding:3px 6px 3px 6px;
}

.form-control{
  padding:0 0 0 6px;
}