html, body, h1, h2, h3, h4, h5, h6, p, div, ul, ol, dl, li, dt, dd, header, main, footer, nav {
  margin: 0;
  padding: 0;
}
html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}
body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;
}
body header {
  text-align: center;
  background-color: #98d5ed;
}
body header img {
  max-width: 800px;
  width: 100%;
}
body main div#content {
  width: 90%;
  max-width: 1070px;
  margin: 0 auto 0 auto;
  padding: 1em 0 1em 0;
}
body main div#content div#series_list button, body main div#content div#software_list button {
  margin: 0 1em 1em 0;
  min-width: 10em;
}
body main div#content div#series_list {
  /* ボタンON時 */
}
body main div#content div#series_list button.hover {
  background-color: #2579a9;
  border-color: #1f648b;
}
body main div#content div#software_list {
  /* ボタンON時 */
}
body main div#content div#software_list button.hover {
  background-color: #20895e;
  border-color: #196c4b;
}
body main div#content table#software_content_list {
  margin-top: 10px;
  border: 1px solid #000;
  border-collapse: collapse;
}
body main div#content table#software_content_list thead tr th {
  font-size: 2em;
  background-color: #eee;
}
body main div#content table#software_content_list tbody tr th, body main div#content table#software_content_list tr td {
  border: 1px solid #000;
  padding: 5px;
}
body main div#content table#software_content_list tbody#software_hardware {
  background-color: #ffe;
}
body main div#content table#software_content_list tbody#software_hardware tr th {
  background-color: #ff9;
}
body main div#content table#software_content_list tbody#software_book {
  background-color: #fef;
}
body main div#content table#software_content_list tbody#software_book tr th {
  background-color: #f9f;
}
body main div#content table#software_content_list tbody#software_soundware {
  background-color: #eff;
}
body main div#content table#software_content_list tbody#software_soundware tr th {
  background-color: #9ff;
}
body main div#admin {
  width: 90%;
  max-width: 1070px;
  margin: 0 auto 0 auto;
  padding: 1em 0 1em 0;
}
body main div#admin div#button_area {
  text-align: center;
}
body main div#admin div#button_area button {
  min-width: 6em;
}
body main div#admin div.edit_area {
  margin-top: 20px;
}
body main div#admin div.edit_area table {
  margin: 0 auto 0 auto;
  border-collapse: separate;
  border-spacing: 10px;
}
body main div#admin div.edit_area table tr td.sequence input {
  width: 6em;
}
body main div#admin div.edit_area table#software caption, body main div#admin div.edit_area table#software_hardware caption, body main div#admin div.edit_area table#software_book caption, body main div#admin div.edit_area table#software_soundware caption {
  text-align: center;
  font-size: 2em;
}
body main div#admin div.edit_area table#software caption button, body main div#admin div.edit_area table#software_hardware caption button, body main div#admin div.edit_area table#software_book caption button, body main div#admin div.edit_area table#software_soundware caption button {
  margin-left: 20px;
}
body main div#admin div.edit_area table#software tbody tr td.item_code input, body main div#admin div.edit_area table#software_hardware tbody tr td.item_code input, body main div#admin div.edit_area table#software_book tbody tr td.item_code input, body main div#admin div.edit_area table#software_soundware tbody tr td.item_code input {
  width: 10em;
}
body main div#admin div.edit_area table#software tbody tr td.price input, body main div#admin div.edit_area table#software_hardware tbody tr td.price input, body main div#admin div.edit_area table#software_book tbody tr td.price input, body main div#admin div.edit_area table#software_soundware tbody tr td.price input {
  width: 5em;
}
body main div#admin div.edit_area table#software tbody tr td.release_date input, body main div#admin div.edit_area table#software_hardware tbody tr td.release_date input, body main div#admin div.edit_area table#software_book tbody tr td.release_date input, body main div#admin div.edit_area table#software_soundware tbody tr td.release_date input {
  width: 12em;
}
body main div#admin div.edit_area table#software tbody tr td.remark input, body main div#admin div.edit_area table#software_hardware tbody tr td.remark input, body main div#admin div.edit_area table#software_book tbody tr td.remark input, body main div#admin div.edit_area table#software_soundware tbody tr td.remark input {
  width: 16em;
}
body footer {
  height: 100px;
  margin-top: auto;
  background-color: #98d5ed;
}
/* スタイル用 */.full-height {
  height: 100vh;
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}
/*
 .content {
 text-align: center;
 }
 .title {
 font-size: 84px;
 }
 */.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}
.m-b-md {
  margin-bottom: 30px;
}
.btn-small {
  padding: 3px 6px 3px 6px;
}
.form-control {
  padding: 0 0 0 6px;
}
